In [6]:
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv(r"raw_listings.csv")
df.head()

,listing_id,location,property_type,bedrooms,bathrooms,size_sqm,amenities,price_kes,listing_date
0,NB0001,Ruaka,Penthouse,5,4,234.0,"CCTV,Servant Quarter",20876564.0,2025-02-15
1,NB0002,South B,Penthouse,2,2,122.6,"Servant Quarter,Gym,Swimming Pool,Elevator",11431043.0,2025-09-16
2,NB0003,Kasarani,Penthouse,3,4,52.7,"CCTV,Swimming Pool,Balcony",9893180.0,2026-01-13
3,NB0004,Ruaka,Bungalow,3,3,99.6,"Gym,Servant Quarter,Elevator,Security,Garden",15415773.0,2025-10-07
4,NB0005,Kileleshwa,Bungalow,3,2,50.1,"Garden,Servant Quarter,Elevator",13150006.0,2026-02-04

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     500 non-null    object
 1   location       500 non-null    object
 2   property_type  500 non-null    object
 3   bedrooms       500 non-null    int64
 4   bathrooms      500 non-null    int64
 5   size_sqm       500 non-null    float64
 6   amenities      500 non-null    object
 7   price_kes      500 non-null    float64
 8   listing_date   500 non-null    object
dtypes: float64(2), int64(2), object(5)
memory usage: 35.3+ KB

In [4]:
# drop a column
df.drop(columns=["listing_id"],inplace=True)

In [5]:
df.head()

,location,property_type,bedrooms,bathrooms,size_sqm,amenities,price_kes,listing_date
0,Ruaka,Penthouse,5,4,234.0,"CCTV,Servant Quarter",20876564.0,2025-02-15
1,South B,Penthouse,2,2,122.6,"Servant Quarter,Gym,Swimming Pool,Elevator",11431043.0,2025-09-16
2,Kasarani,Penthouse,3,4,52.7,"CCTV,Swimming Pool,Balcony",9893180.0,2026-01-13
3,Ruaka,Bungalow,3,3,99.6,"Gym,Servant Quarter,Elevator,Security,Garden",15415773.0,2025-10-07
4,Kileleshwa,Bungalow,3,2,50.1,"Garden,Servant Quarter,Elevator",13150006.0,2026-02-04